.display{
    margin: 40px 2px;
}

.padrao{
    
    padding: 10px;
    width: 100%;
    margin: 10px;
}

.btns{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.textarea{
    height: 350px;
}