@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    height: 100%;
    max-width: 1500px;
    margin: auto;
}
.main{
    display: flex;
    
    background: #F3F5FC;
    
    
}

/*
    .main > * {
        border: 3px;
        border-color: #ff5e00;
        border-style: solid;
    }

        .border{
            border: 3px;
            border-color: #343A40;
            border-style: solid;
        }
*/
.logo{

    height: 48px;
    width: 32px;
    margin: 40px 0 40px 40px;
    display: flex;
    justify-content: center;
    
    }

    .logo img {
        height: 48px;
        width: 32px;
        cursor: pointer;

    }

            .logo img:hover{
                filter: brightness(150%);
                /* Start the shake animation and make the animation last for 0.5 seconds */
                animation: shake 0.5s;
            
                /* When the animation is finished, start again */
                animation-iteration-count: infinite;
            }
            
                @keyframes shake {
                    0% { transform: translate(1px, 1px) rotate(0deg); }
                    10% { transform: translate(-1px, -2px) rotate(-1deg); }
                    20% { transform: translate(-3px, 0px) rotate(1deg); }
                    30% { transform: translate(3px, 2px) rotate(0deg); }
                    40% { transform: translate(1px, -1px) rotate(1deg); }
                    50% { transform: translate(-1px, 2px) rotate(-1deg); }
                    60% { transform: translate(-3px, 1px) rotate(0deg); }
                    70% { transform: translate(3px, 1px) rotate(-1deg); }
                    80% { transform: translate(-1px, -1px) rotate(1deg); }
                    90% { transform: translate(1px, 2px) rotate(0deg); }
                    100% { transform: translate(1px, -2px) rotate(-1deg); }
                }
            

.input{
    background-color: #F3F5FC;
    margin: 40px 40px 40px 80px;
    max-width: 914px;
    min-width: 100px;
    /*min-width: 500px;*/
    height: 100%;
    flex-direction: column;
   

}

    .textarea{
        width: 100%;
        height: 645px;
        border: none;
        margin-top: 168px;
        resize: none;
        outline: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
        background-color: #F3F5FC;
        padding: 0px;
    }

        .inf{
            display: flex;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;

        }

        .inf img {
            margin-right: 10px;
        }

            .btns{
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
            }
            .padrao{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;   
                    color: #FFFFFF;
                    padding: 24px;
                    gap: 8px;
                    border-radius: 24px;
                    width: 40%;
                    height: 67px;
                    cursor: pointer;

            }
                    #btn1{
                        
                        background: #0A3871;
                        
                        
                    }
                    .padrao:hover{
                        filter: brightness(110%);
                    }
                    #btn2{
                        
                        color: #0A3871;
                    
                    }

.display{
    background-color: #FEFEFE;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 30%;
    height: 944px;
    margin: 40px 40px 40px 80px;
    display: flex;
}
    .conjunto{
        margin:32px;
        max-width: 800px;
        display: none;
        width: 100%;
        background-color: #FEFEFE;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        }
        .resultado{
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #495057;
            width: 100%;
            height: 781px;
            word-break: break-all;
            
            margin-bottom: 32px;
           
            
            
        }
        .btn3{
            color: #0A3871;
            height: 67px;
            width: 336px;
            left: 1032px;
            top: 885px;
            border-radius: 24px;
            padding: 24px;
            cursor: pointer;

        }

    .lupa{
    margin: 243px 0 0 0; 
    padding: 20px;
    
   

    }

        .lupa h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #343A40;
            margin: 16px;
        }
            h3{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #495057;

            }

    footer{
        background: #F3F5FC;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      
       
    }
    footer p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 150%;
      
    }

 .links ol{
 
    display: flex;
    flex-direction: row;
 }
 .links ol li{
    margin: 10px;
}